{% unless gmm_image_size %}
{% assign gmm_image_size = "medium" %}
{% endunless %}
<script id="globo-hidden-menu" type="text/html">
<li class="globomenu-item  globomenu-item-level-0 gin">
                    <a class="globomenu-target  globomenu-target-with-icon globomenu-item-layout-icon_left globomenu-item-layout-icon_left globomenu-target-with-icon globomenu-item-layout-icon_left" href="/"><i class="globomenu-icon fa fa-home"></i><span class="globomenu-target-title globomenu-target-text">Home</span></a></li></script>
