<div class="stock_lists">
  <div class="row-4 title">
    <h2>{{ section.settings.title }}</h2>
  </div>
  <div class="grid about-imgs-grid row-4">
    {% for block in section.blocks %}
  <div class="grid-item large--one-third">
          <div class="about-img-section">
            <h3>{{ block.settings.listItemTitle }}</h3>
             <a href="{{ block.settings.listItemLink }}">{{ block.settings.listItemText }}</a>
          </div>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Caribban Stockists",
    "settings": [
		{
			"type": "text",
      		"id": "title",
      		"label":"Title"
		}
	],
	"presets": [
    {
      "name": "Caribban Stockists"
	}
	],
	"blocks": [
    {
      "type": "list_item",
      "name": {
        "en": "ListItem"
      },
      "settings": [
		{
          "type": "text",
          "id": "listItemTitle",
          "label": {
            "en": "List Item Title"
          }
        },
		{
          "type": "text",
          "id": "listItemText",
          "label": {
            "en": "List Item Text"
          }
        },
		{
          "type": "text",
          "id": "listItemLink",
          "label": {
            "en": "List Item Link"
          }
        }
      ]
    }
  ]
  }
{% endschema %}
