<div class="page-width stocklists">
  <div class="image-side">
     <img src="{{ "Stockists-Page.jpg" | file_url }}" alt="Stockists">
  </div>
  <div class="content-side">
    <h1>{{ page.title }}</h1>
      {% section 'stocklists-page-row-1-section' %}  
      {% section 'stocklists-page-row-2-section' %}  
      {% section 'stocklists-page-row-3-section' %} 
      {% section 'stocklists-page-row-4-section' %}  
      {% section 'stocklists-page-row-5-section' %}  
      {% section 'stocklists-page-row-6-section' %} 
  </div>
</div>
