<div class="page-width lookbooks">
  <div class="grid">
    <div class="grid__item">
      {% section 'lookbooks-section-8' %} 
   	  {% section 'lookbooks-section-7' %}  
      {% section 'lookbooks-section-6' %}  
      {% section 'lookbooks-section-5' %}  
      {% section 'lookbooks-section-4' %}  
      {% section 'lookbooks-section-3' %}  
      {% section 'lookbooks-section-2' %}  
      {% section 'lookbooks-section-1' %}  
    </div>
  </div>
</div>
